html {
  height: 100%;
  width: 100%;
  background-image: url("background.png");
  background-size: cover;
  background-position: center;
}

.cat {
  margin-top: 30px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 128px;
  height: 128px;
}

button {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  background: none;
  color: white;
  transition: 0.3s;
  margin-left: 3px;
  margin-bottom: 320px;
  background-color: none;
  border: none;
}

button:hover {

  cursor: pointer;
}

.buttoncenter {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-top: 420px;
}

a:link {
  text-decoration: none;
  color: white
}

a:visited {
  text-decoration: none;
  color: white
}

a:hover {
  text-decoration: none;
  color: white
}

a:active {
  text-decoration: none;
  color: white
}

.roblox {
  margin-bottom: 9px;
}
